# Home Assistant
homeassistant>=2025.1
numpy
PyTurboJPEG

# Integration
aiohttp # should already be installed with Home Assistant
cryptography # should already be installed with Home Assistant

# Development
colorlog
pip>=21.0
pre-commit
ruff